{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section>
        <div class="container px-4 mt-4 d-flex justify-content-end align-items-baseline">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="profile-link">
                <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
            </a>
            {% endif %}
            <div>
                <a class="btn bag-button" href="{% url 'bag' %}">
                    <i class="bi bi-bag-fill"></i>
                    {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                </a>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <!-- Heading -->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'main-bg.jpg' %}" alt="Cupcakes"></div>
                <div class="col-lg-5">
                    <h2 class="font-weight-light">Welcome to our store!</h2>
                    <p>Just Cupcakes is a well established bakery based in Dublin. We specialize in delicious cupcakes, made fresh daily. We bake our products from scratch and use only the finest and preservative-free ingredients, offering our customers fresh batches of yummy goodness every day!</p>
                    <a class="btn sitebutton" href="{% url 'products' %}">Shop now!</a>
                </div>
            </div>
            <!-- Free delivery info -->
            <div class="card my-5 py-4 text-center delivery-info">
                <div class="card-body"><p class="m-0">Freshly made cupcakes every day. Free delivery on any orders above €{{free_delivery_threshold}}. Place an order with us today!</p></div>
            </div>
            <!-- Call to action cards -->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Fast deliveries</h2>
                            <p class="card-text">All our cupcakes are available to purchase online in boxes of 12. We can deliver anywhere in Ireland for just €{{standard_delivery}}. We offer a free delivery on orders above €{{free_delivery_threshold}}. All our orders are shipped within 48 hours from your order. Shop now!</p>
                        </div>
                        <div class="card-footer action-cards-footer"><a class="btn sitebutton px-4" href="{% url 'products' %}">Go</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Visit us in store</h2>
                            <p class="card-text">Come visit us at our store located in the centre of Dublin. Check our About page to find out more about us and view our location.</p>
                        </div>
                        <div class="card-footer action-cards-footer"><a class="btn sitebutton px-4" href="{% url 'about' %}">Go</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">New flavours</h2>
                            <p class="card-text">We are constantly adding new delicious flavours and we have a new cupcake coming out every month, check out our cupcake of the month!</p>
                        </div>
                        <div class="card-footer action-cards-footer"><a class="btn sitebutton px-4" href="{% url 'products' %}?category=monthly-cupcake">Go</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Begin Mailchimp Signup Form -->
    <div class="container mb-5 px-4 px-lg-5">
    <div id="mc_embed_signup">
    <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=9c0024215f57e0624c6c6a886&amp;id=fa2605fe90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h3 class="mt-3">Subscribe to our Newsletter</h3>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
	    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0024215f57e0624c6c6a886_fa2605fe90" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn sitebutton">
                <p class="brandingLogo"><a href="http://eepurl.com/hX_jpD" title="Mailchimp - email marketing made easy and fun"><img alt="Mailchimp logo" src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
</div>
<!--End mc_embed_signup-->
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock %}