@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
	font-family: Montserrat, sans-serif;
	background-color: #f7ece357;
	color: #24857c;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

h1 {
	font-family: Cookie, sans-serif;
	font-size: 2.5rem;
}

a {
	text-decoration: none;
}

.navbar {
	background-color: #ddf1ef;
}

.navbar-light .navbar-nav .nav-link {
	color: #24857c;
}

.nav-link:hover {
	text-decoration: underline;
}

#logo {
	color: #24857c;
	font-family: Cookie, sans-serif;
	font-size: 2.5rem;
}

footer {
	background-color: #24857c;
}

.socialmedia-links li {
	list-style: none;
	display: inline-block;
}

footer i {
	transition: color .15s ease-in-out;
}

footer i:hover {
	color: #f1b124;
}

.search-button,
.bag-button,
.sitebutton {
	background-color: #ddf1ef;
	color: #24857c;
	border: 1px solid #24857c;
	transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.bag-button a {
	text-decoration: none;
	color: inherit;
}

.search-button:hover,
.bag-button:hover,
.sitebutton:hover {
	color: white;
	background-color: #24857c;
}

.delivery-info {
	background-color: #ddf1ef;
	border: none;
}

.login-register {
	width: 100%;
	max-width: 330px;
	padding: 2rem;
	background-color: #ffffff;
	border: 1px solid #24857c;
	border-radius: 0.5rem;
}

.account-form > div {
	margin: 1rem 0;
}

.cupcake-icon {
	width: 50px;
	height: 50px;
}

.action-cards-footer {
	background-color: #ddf1ef;
}

.card-image {
	width: 100%;
	object-fit: cover;
	height: 300px;
}

.detail-image {
	width: 100%;
	object-fit: cover;
	height: 500px;
}

.product-card a {
	font-family: inherit;
	color: inherit;
}

.product-card-body {
	transition: background-color .15s ease-in-out;
}

.product-card-body:hover {
	background-color: #ddf1ef;
}

.popular {
	color: #f1b124;
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: white;
	padding: 0.3rem;
	border-radius: 0.25rem;
	border: 1px solid #f1b124;
}

.pop-detail {
	color: #f1b124;
	font-family: Montserrat, sans-serif;
	font-size: 1rem;
}

@media only screen and (max-width: 576px) {
	.detail-image {
		height: 300px;
	}
}
