{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    <div class="container mt-4 d-flex justify-content-end align-items-baseline">
        {% if user.is_authenticated %}
        <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
        {% endif %}
        <div>
            <a href="{% url 'bag' %}">
                <button class="btn bag-button">
                    <i class="bi bi-cart-fill"></i> 
                    {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                </button>
            </a>
        </div>
    </div>
    <h1 class="text-center my-3">Update Profile Info</h1>
    <div class="container my-5">
        <form action="{% url 'edit_profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn sitebutton" type="submit">Save</button>
        </form>
    </div>
</main>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
let countrySelected = $('#id_default_country').val();
if(!countrySelected) {
    $('#id_default_country').css('color', '#aab7c4');
};
$('#id_default_country').change(function() {
    countrySelected = $(this).val();
    if(!countrySelected) {
        $(this).css('color', '#aab7c4');
    } else {
        $(this).css('color', '#000');
    }
});
</script>

{% endblock %}