{% extends 'base.html' %}
{% load static %}

{% block content %}

      <main class="container mb-5">
        <div class="container mt-4 d-flex justify-content-end align-items-baseline">
            {% if user.is_authenticated %}
            <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
            {% endif %}
            <div>
                <a href="{% url 'bag' %}">
                    <button class="btn bag-button">
                        <i class="bi bi-cart-fill"></i> 
                        {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                    </button>
                </a>
            </div>
        </div>
        
        <h1 class="text-center my-3">My Profile</h1>
        
      </main>
    

{% endblock %}
