{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container">
    <div class="container mt-4 d-flex justify-content-end align-items-baseline">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="profile-link">
            <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
        </a>
        {% endif %}
        <div>
            <a href="{% url 'bag' %}">
                <button class="btn bag-button">
                    <i class="bi bi-bag-fill"></i> 
                    {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                </button>
            </a>
        </div>
    </div>
    <h1 class="text-center my-3">Job Postings</h1>
    <!--Job postings-->
    <div class="container my-5">
        {% for posting in postings %}
        <div class="job-post-div shadow">
            <h3>{{ posting.title }}</h3>
            <h5>Job Description:</h5>
            <p>{{ posting.description }}</p>
            <h5>Experience:</h5>
            <p>{{ posting.experience }}</p>
            <a href="{% url 'application' posting.id %}" class="btn sitebutton">Apply</a>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}