{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<main>
    <div class="container mt-4 d-flex justify-content-end align-items-baseline">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="profile-link">
            <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
        </a>
        {% endif %}
        <div>
            <a href="{% url 'bag' %}">
                <button class="btn bag-button">
                    <i class="bi bi-cart-fill"></i> 
                    {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                </button>
            </a>
        </div>
    </div>
    <h1 class="text-center my-3">Add New Product</h1>
    <div class="container my-5">
    <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data" id="add-product-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn sitebutton mt-3">Save</button>
    </form>
    </div>
</main>

{% endblock %}