{% extends 'base.html' %}

{% block content %}
<main>
    <section>
        <div class="container py-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <form class="d-flex" action="#" method="get">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search ..." aria-label="Search" required>
                    <button class="btn search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}