{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section>
        <div class="container px-4 mt-4 d-flex justify-content-end align-items-baseline">
            {% if user.is_authenticated %}
            <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
            {% endif %}
            <div>
                <button class="btn bag-button">
                    <a href="{% url 'bag' %}"><i class="bi bi-cart-fill"></i> € 0.00</a>
                </button>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <!-- Heading -->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'main-bg.jpg' %}" alt="Cupcakes"></div>
                <div class="col-lg-5">
                    <h2 class="font-weight-light">Welcome to our store!</h2>
                    <p>Just Cupcakes is a well established bakery based in Dublin. We specialize in delicious cupcakes, made fresh daily. We bake our products from scratch and use only the finest and preservative-free ingredients, offering our customers fresh batches of yummy goodness every day!</p>
                    <a class="btn sitebutton" href="{% url 'products' %}">Shop now!</a>
                </div>
            </div>
            <!-- Free delivery info -->
            <div class="card my-5 py-4 text-center delivery-info">
                <div class="card-body"><p class="m-0">Freshly made cupcakes every day. Free delivery on any orders above €50. Place an order with us today!</p></div>
            </div>
            <!-- Call to action cards -->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Fast deliveries</h2>
                            <p class="card-text">All our cupcakes are available to purchase online in boxes of 12. We can deliver anywhere in Dublin for just €10. We offer a free delivery on orers above €50. All our orders are shipped within 48 hours from your order. Shop now!</p>
                        </div>
                        <div class="card-footer action-cards-footer"><a class="btn sitebutton px-4" href="{% url 'products' %}">Go</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">In-store pickup</h2>
                            <p class="card-text">Order online and come visit us to pick up your order. Check our About page to view our location.</p>
                        </div>
                        <div class="card-footer action-cards-footer"><a class="btn sitebutton px-4" href="#">Go</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">New flavours</h2>
                            <p class="card-text">We are constantly adding new delicious flavours and we have a new cupcake coming out every month, check out our cupcake of the month!</p>
                        </div>
                        <div class="card-footer action-cards-footer"><a class="btn sitebutton px-4" href="{% url 'products' %}?category=monthly-cupcake">Go</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}