{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <section>
        <div class="container px-4 mt-4 d-flex justify-content-end align-items-baseline">
            {% if user.is_authenticated %}
            <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
            {% endif %}
            <div>
                <button class="btn bag-button">
                    <a href="{% url 'bag' %}"><i class="bi bi-cart-fill"></i> 
                        {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                    </a>
                </button>
            </div>
        </div>
        <div class="py-md-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 detail-image" src="{{ product.image.url }}" alt="{{product.name}} cupcake image" /></div>
                <div class="col-md-6">
                    {% if user.is_superuser%}
                    <!--Edit and delete buttons for superuser-->
                    <div class="d-flex justify-content-end align-items-center">
                        <button type="button" class="btn sitebutton me-3">Edit</button>
                        <button type="button" class="btn sitebutton me-3">Delete</button>
                    </div>
                    {% endif %}
                    <div class="small mb-1">SKU: {{product.sku}}</div>
                    <h1 class="display-5">{{product.name}} {% if product.popular %}<span class="pop-detail">(Popular)</span>{% endif %}</h1>
                    {% if product.category %}
                    <div>
                        <a class="category-tag" href="{% url 'products' %}?category={{product.category.slug}}"><i class="bi bi-tag-fill"></i> {{product.category.name}}</a>
                    </div>
                    {% endif %}
                    <div class="fs-5 mb-5">
                        <span>€ {{product.price}}</span><span class="fs-6"> (12 cupcakes)</span>
                    </div>
                    <p class="mb-4">{{product.description}}</p>
                    <!--Add to bag form-->
                    <form action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                    
                    <div class="d-flex">
                        <button class="btn minus-qty mx-1">-</button>
                        <input class="form-control text-center qty-input" id="quantity" name="quantity" type="num" value="1" min="1" max="10"/>
                        <button class="btn plus-qty me-3 ms-1">+</button>
                        <button class="btn sitebutton flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <div class="mt-4">
                        <a class="keep-shopping" href="{% url 'products' %}">
                            <i class="bi bi-arrow-left-circle-fill icons" id="back-arrow"></i> KEEP SHOPPING
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>

{% endblock %}