{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <section>
        <div class="container px-4 mt-4 d-flex justify-content-end align-items-baseline">
            {% if user.is_authenticated %}
            <p class="me-3">Hi <strong>{{user.username}}</strong>!</p>
            {% endif %}
            <div>
                <button class="btn bag-button">
                    <a href="{% url 'bag' %}"><i class="bi bi-cart-fill"></i> 
                        {% if grand_total != 10 %} € {{grand_total|floatformat:2}} {% else %} € 0.00 {% endif %}
                    </a>
                </button>
            </div>
        </div>
        <h1 class="text-center my-3">Products</h1>
        <div class="container mb-3">
            <!--Product sorting-->
            <div class="text-center text-sm-end">
                <select id="sort-selector" class="custom-select custom-select-sm selector">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price-asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price-desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="created_on-asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Date (oldest first)</option>
                    <option value="created_on-desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Date (newest first)</option>
                    <option value="name-asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name-desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category-asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category-desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
            <div>
                <p class="mt-5 mt-sm-3">
                    <a class="all-products-link" href="{% url 'products' %}"> Products</a>
                     | {% if products|length == 1 %}{{products|length}} item {% else %} {{products|length}} items {% endif %}
                    {% if search %}
                    <span> for <strong>"{{search}}"</strong></span>
                    {% else %}
                    {% for category in current_category %}
                    <span> in <strong>{{category.name}}</strong></span>
                    {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="my-sm-5">
            <!--Product cards-->
            <div class="container product-card-container">
                {% if products|length == 0 %}
                <div class="no-results-box">
                    <p class="text-center"><i class="bi bi-search icons"></i></p>
                    <p class="text-center">We did not find any results for<strong> "{{search}}"</strong></p>
                    <p class="text-center">Please try a new search.</p>
                </div>
                {% endif %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                    {% for product in products %}
                    <div class="col product-card">
                        <a href="{% url 'product_detail' product.slug %}">
                        <div class="card shadow h-100 product-card-body">
                            <img src="{{product.image.url}}" class="card-img-top card-image" alt="{{product.name}} cupcake image">
                            {% if product.popular %}
                                <p class="card-text text-end m-0 fw-bold popular">Popular</p>
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text text-center text-uppercase m-0">{{ product.name }}</p>
                                <p class="card-text text-center fw-bold m-0">€ {{ product.price }}</p>
                                {% if product.category %}
                                <p class="category-tag2 text-center"><i class="bi bi-tag-fill"></i> {{product.category.name}}</p>
                                {% endif %}
                                {% if user.is_superuser%}
                                <!--Edit and delete buttons for superuser-->
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-sm sitebutton">Edit</button>
                                    <button type="button" class="btn btn-sm sitebutton">Delete</button>
                                    </div>
                                </div>
                              {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#sort-selector').change(function(){
        let selector = $(this)
        let currentUrl = new URL(window.location);
        let selectedValue = selector.val();
        if(selectedValue != "reset") {
            let sort = selectedValue.split("-")[0]
            let direction = selectedValue.split("-")[1]
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}

